@{
    ViewBag.Title = "UOM";
}

<h1> List Of U O M   </h1>
<a href="#" class="btn btn-primary">Add New U O M</a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>UOM Code</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody style="font-size:12px;">

        <tr>
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>

