    @{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>Net Journal</h1>
        <p class="lead">Net Journal is a web based Online application for the POS, Accounting solutions.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
